

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">

    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	

        <li><a href="#/register">Sign Up</a></li>
        <li><a href="#/index">Log In</a></li>
        <li><a href="#/about">About Us</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Coding Sensei</h1>
      <div class="row center">
        <h5 class="header col s12 light">Question and Answer website to help developers get their dream job.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Want to ace the interview? We can help!</a>
      </div>
      <br><br>

    </div>
  </div>

  
  		

    

<!--   <div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content">
         
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" type="text" class="validate" ng-model='loginUser.email' name="email">
                <label for="email" class="active"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Password" id="password" type="text" class="validate" ng-model='loginUser.password' name="password">
                {{ error.message }}
                <label for="password" class="active"></label>
              </div>
               <p ng-repeat="error in logErrors">{{ error }}</p>
            </div>
            <input type="submit" class="btn" value="LOGIN" ng-click='login()'>

          </form>
         
        </div>
        <div class="card-action">
          <!<input type="submit" class="btn" value="LOGIN" ng-click='create_new_user()'> -->
          <!-- <p>Don't have an account? 
        <a href="#/register">Sign Up</a></p>
        <br>
        </div>
        

      </div>
    </div>
</div>
</div> --> 

<div id='parent_div_1'>
	<div class ='child_div_1'>
		<div class="container">
  			<div class="row">
    			<!-- <div class="col s11 m6 offset-m0">
	      			<div class="card">
	        			<div class="card-content">
	         				<h2>About Us</h2>
					        <p>Coding Sensei connects you with people and information to solve problems,inspire learning and influence the future of technology.
							It is a resource of tech interview questions from various companies.
							You can crawl through the questions by entering any keyword or technologies.
							The answers and solutions are supplied by the community of readers. You can add your own interview questions and also answer any questions. Moreover, you can like the answers posted by other users.
							</p>
	        			</div>
	       
			          	<div class='right-align'>
			        		<div class="card-action">
			          	 		<a href="#/index"  class="btn"  >GO BACK</a>
			          	</div>
			         
			        	</div>

	      			</div>
	    		</div> -->

	    		 <div class="col s11 m6 offset-m0">
      <div class="card">
        <div class="card-content">
         
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" type="text" class="validate" ng-model='loginUser.email' name="email">
                <label for="email" class="active"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Password" id="password" type="text" class="validate" ng-model='loginUser.password' name="password">
                {{ error.message }}
                <label for="password" class="active"></label>
              </div>
               <p ng-repeat="error in logErrors">{{ error }}</p>
            </div>
            <input type="submit" class="btn" value="LOGIN" ng-click='login()'>

          </form>
         
        </div>
        <div class="card-action">
          <!-- <input type="submit" class="btn" value="LOGIN" ng-click='create_new_user()'> -->
          <p>Don't have an account? 
        <a href="#/register">Sign Up</a></p>
        <br>
        </div>
        

      </div>
    </div>

	    		<div class="col s11 m6 offset-m0">
      				<div class="card">
        				<div class="card-content">
         
	          				<form>
	            				<div class="row">
	              					<div class="input-field col s12">
	          
						                <input placeholder="First Name" id="firstname" type="text" class="validate" ng-model='user.first_name' name="name">
						                {{ error.first }}
						                <label for="firstname" class="active"></label>
	              					</div>
	            				</div>
					            <div class="row">
					              <div class="input-field col s12">
					                <input placeholder="Last Name" id="lastname" type="text" class="validate" ng-model='user.last_name'>
					                {{ error.last }}
					                <label for="lastname" class="active"></label>
					              </div>
					            </div>
					              <div class="row">
					              <div class="input-field col s12">
					                <input placeholder="User Name" id="username" type="text" class="validate" ng-model='user.user_name'>
					                {{ error.username }}
					                <label for="username" class="active"></label>
					              </div>
					            </div>
					             <div class="row">
					              <div class="input-field col s12">
					                <input placeholder="Email" id="email" type="text" class="validate" ng-model='user.email'>
					                {{ error.email }}
					                <label for="email" class="active"></label>
					              </div>
					            </div>
					              <div class="row">
					              <div class="input-field col s12">
					                <input placeholder="Password" id="password" type="password" class="validate" ng-keyup="checkPword()" ng-keydown="checkPword()" ng-model='user.password'>
					                {{ error.password }}
					                <label for="password" class="active"></label>
					              </div>
					            </div>
					              <div class="row">
					              <div class="input-field col s12">
					                <input placeholder="Confirm Password" id="confirm_password" type="password" class="validate" ng-model='user.confirm_password'>
					                 {{ error.confirm_password }}
					                {{ error.message }}
					                <label for="confirm_password" class="active"></label>
					              </div>
					            </div>
					             <input type="submit" class="btn" value="Sign Up" ng-click='register_user()'>
					          </form>
				        </div>
				        <div class="card-action">
				         
				           <p>Already have an account? 
				        	<a href="#/index">Sign In</a></p>
				        	<br>
				        </div>
				       

				      </div>
				    </div>

			</div>
		</div>
	</div>
	<!-- <div class ='child_div_2'>
		<div class="container">
  			<div class="row">
    			
				</div>
			</div>
	</div> -->
</div>



<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">See what interview questions were asked?</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">See the answers posted by experts</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Answer the questions</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

   
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">Coding Sensei connects you with people and information to solve problems,inspire learning and influence the future of technology.
							It is a resource of tech interview questions from various companies.
							You can crawl through the questions by entering any keyword or technologies.
							The answers and solutions are supplied by the community of readers. You can add your own interview questions and also answer any questions. Moreover, you can like the answers posted by other users.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#/register">Sign Up</a></li>
            <li><a class="white-text" href="#/index">Log In</a></li>
            <li><a class="white-text" href="#/about">About Us</a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy Made by <a class="blue-text text-lighten-3" href="http://materializecss.com">Coding sensei team</a>
      </div>
    </div>
  </footer>

<!-- 
<form>
	<label>First Name: <br><input type="text" name="text" ng-model="user.first_name"></label><br>
	<label>Last Name: <br><input type="text" name="text" ng-model="user.last_name"></label><br>
	<label>Username: <br><input type="text" name="text" ng-model="user.user_name"></label><br>
	<label>Password: <br><input type="text" name="text" ng-model="user.password"></label><br><br>
	<input type="submit" ng-click='register_user()' value="Sign Up">
</form>

<p>Already have an account?<a href="#/index">  Sign In</a></p> -->

