
<!-- <h1>{{current_user}}</h1>
<a id="logo-container" href="#" class="brand-logo"> </a>
<h1>{{get_user()}}</h1> -->

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
        <li><a href="#/new_question">Ask Questions</a></li>
        <li><a href="#/users">Users</a></li>
        <li><a href="#/index">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<h5 class='right-align'>{{getUser()}}   </h5>
<!-- <div id='logo'></div> -->


<!-- <div class='left-align'>
	<a href="#/new_question"  class="btn">Ask Questions</a>

</div>
<div class='center-align'>
	<a href="#/users"  class="btn">Users</a>

</div>
<div class='right-align'>
	<a href="#/index"  class="btn">Logout</a>

</div> -->

<!-- <div id="logout"><a href="#/new_question" class="btn">Ask Question</a>
<a href="#/users" class="btn">Users</a>
<a  href="#/index" class="btn">Logout</a></div> -->

<br><br>

<!-- <label>Search: <input ng-model="searchText"></label> -->
<div class="container">
  <div class="row">
    <div class="col s18 m12 offset-m0">
      <div class="card">
        <div class="card-content">

<!-- search bar -->
				    <nav>
				    <div class="nav-wrapper">
				      <form>
				        <div class="input-field">
				          <input id="search" type="search" required ng-model="searchText">
				          <label for="search"><i class="material-icons">search</i></label>
				          <i class="material-icons">close</i>
				        </div>
				      </form>
				    </div>
				  </nav>
<!-- table of all the questions,answers,category and action -->
					<h3>Top Questions</h3>
					<table id="searchTextResults" class='highlight' >
						<!-- <thead>
							<tr>
								<th>Question</th>
								<th>Answers</th>
								<th>Technology</th>
								<th>Action</th>
							</tr>
						</thead> -->
						<tbody>
							<tr>
								
							</tr>
							<tr ng-repeat='question in questions | filter:searchText'>
								<td class='center'>
									<div id='answer'>
										<a href="#/question/{{question._id}}" class="link_answer" >{{question._answers.length}} answer</a>
									</div>
									
								</td>
								<td><a href="#/question/{{question._id}}">{{question.question}}</a>
								<br>{{question.category}}</td>
								
								<!-- <td>{{question.category}}</td> -->

								<td>
								<!-- <a href="#/question/{{question._id}}/new_answer">Answer</a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>