<h1>Hi, {{current_user}}!</h1>
<a href="#/new_question">Add a question</a>
<a href="#/index">Logout</a>
<br><br>
<label>Search: <input ng-model="searchText"></label>

<table id="searchTextResults">
	<thead>
		<tr>
			<th>Question</th>
			<th>Answers</th>
			<th>Category</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			
		</tr>
		<tr ng-repeat='question in questions | filter:searchText'>
			<td>{{question.question}}</td>
			<td>{{question._answers.length}}</td>
			<td>{{question.category}}</td>

			<td><a href="#/question/{{question._id}}">Show</a>
			<a href="#/question/{{question._id}}/new_answer">Answer</a></td>
		</tr>
	</tbody>
</table>