*{  
	font-family: 'robot';
	font-size: 20px;
}

#logout{
	text-align: right;


}

#logo{
	background-image: url("/images/Logomakr_8rKXqY.png");
	background-repeat: no-repeat;
	background-size: 200px 50px;
	width: 200px;
	height: 50px;
	padding:15px;
	margin-left: 10px;
	border:solid transparent 1px;
}

#logout a{
	
	/*border: solid 1px black;*/
	padding:5px;
	margin:5px;
	/*background-color: grey;*/
	color:white;
}

a{
	text-decoration: none;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bottom_margin
{
	margin-bottom: 50px;
}

/*to center the number of answers*/
.center
{
	text-align:center;
}

/*a
{
	color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*border: solid green 1px;*/
/*}*/

a.link_answer 
{
	color:green;
}

i.icon-blue {
    color: blue;
}

#answer
{
	color: lightgreen;

    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;

    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    border: solid green 1px;

}

.description
{
	margin-left: 70px;
}